@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Skranji:wght@700&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
}
#hero_msg h1{
    text-align: center;
    color: #396E94;
}
#hero_msg h4{
    text-align: center;
    color: #1d3f5d;
    font-family: 'Skranji', Times, serif;
}
.button_box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #396E94;
}
body{
    background-color: #fbf9f5;
}
header{
    background-color: #1d3f5d;
}
nav a{
    text-align: center;
    background-color: #f5f7a7;
    color: #1d3f5d;
    text-decoration: none;
    font-family: "Cabin", Helvetica, sans-serif;
}
nav a:hover{
    background-color: #FFAD05;
    color: #f5f7a7;
}
.book{
    background-color: #f5f7a7;
    color: #1d3f5d;
    text-decoration: none;
    font-family: "Cabin", Helvetica, sans-serif;
    font-size: 18px;
}
.book:hover{
    background-color: #FFAD05;
    color: #f5f7a7;
    text-decoration: none;
    font-family: "Cabin", Helvetica, sans-serif;
    font-size: 18px;
}
.join{
    background-color: #f5f7a7;
    color: #1d3f5d;
    text-decoration: none;
    font-family: "Cabin", Helvetica, sans-serif;
    font-size: 18px;
}
.join:hover{
    background-color: #FFAD05;
    color: #f5f7a7;
    font-size: 18px;
    font-family: "Cabin", Helvetica, sans-serif;
}
.msg{
    background-color: #1d3f5d;
    line-height: 1.5em;
}
.msg h2{
    color:#FFAD05;
    font-family: 'Skranji', Times, serif;
}
.msg p{
    color: #FFAD05;
    font-family: "Cabin", Helvetica, sans-serif;
    font-size: .8em;
}
.home_title{
    font-family: 'Skranji', Times, serif;
    font-size: 2em;
}
h2{
    color:#1d3f5d;
    font-family: "Cabin", Helvetica, sans-serif;
}
footer{
    background-color: #1d3f5d;
    color: #FFAD05;
}
footer a{
    color:#FFAD05;
    text-decoration: none;
}
footer a:hover{
    color:#f5f7a7;
}
footer p{
    font-size: 1.2em;
    font-family: "Cabin", Helvetica, sans-serif;
}
footer p a{
    text-decoration: underline;
}
.logo{
    width: 80px;
}
#hero_img{
    width: 100%;
}
.icon{
    width: 80px;
}
